<div class="container">
	<form action="/purchases/update/{{data.id}}" method="POST" class="form-signin">
		<h1>Edit purchase</h1>
		<div class="">
			<select class="form-control" name="products_id">
				{{#products}}
				<option {{selected}} value="{{id}}">{{description}}</option>
				{{/products}}
			</select>
		</div>
		<div>
			<input type="text" name="shop" value="{{data.shop}}" id="shop" placeholder="shop" class="form-control" required="" autofocus="">

			<input type="date" name="dates" {{selected}} value="{{data.dates}}" id="dates" placeholder="dates" class="form-control" required="" autofocus="">
			
			<input type="number" name="quantity" value="{{data.quantity}}" id="quantity" placeholder="quantity" class="form-control" required="" autofocus="">

			<input type="number" name="unit_price" value="{{data.unit_price}}" id="unit_price" placeholder="unit_price" class="form-control" required="" autofocus="">

			<input type="number" name="total_cost" value="{{data.total_cost}}" id="total_cost" placeholder="total_cost" class="form-control" required="" autofocus="">
		</div>
		<button class="btn btn-info " type="submit">Update</button>
	</form>
</div>