<h1>Purchases</h1>

<button class="btn btn-info" type="submit"><a href="/purchases/add">Add Purchase</a></button>
<hr>
<div class="panel panel-info">
  <div class="panel-body">
    <div class="table-responsive panel panel-warning">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Shop</th>
            <th>Date</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Cost</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#purchases}}
            <tr>
              <td>
                <p>{{shop}}</p>
                
              </td>
              <td>
                <p>{{dates}}</p>
              </td>
              <td>
                <p>{{description}}</p>
              </td>
              <td>
                <p>{{quantity}}</p>
              </td>
              <td>
                <p>R{{unit_price}}</p>
              </td>
              <td>
                <p>R{{total_cost}}</p>
              </td>
              <td>
                <button class="btn btn-info btn-sm" type="submit"><a href="/purchases/edit/{{id}}">Edit</a></button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" type="submit"><a href="/purchases/delete/{{id}}">Delete</a></button>
              </td>
            </tr>
            {{/purchases}}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{#no_purchases}}
  <p>No purchases available yet. Add some above.</p>
  {{/no_purchases}}