<h1>Purchases</h1>
<div class="wrapper">
  <button class="btn btn-info" type="submit"><a href="/purchases/add">Add Purchase</a></button>
<input type="search" class="light-table-filter form-control" data-table="order-table" placeholder="Filter">

  <table id="acrylic" class="order-table table">

    <thead>
      <tr>
        <th>description</th>
        <th>dates</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Cost</th>
        <th></th>
      </tr>
    </thead>
    {{#purchases}}
    <tbody>
      <tr>
        <td data-label="Description">{{description}}</td>
        <td data-label="Dates">{{dates}}</td>
        <td data-label="Quantity">{{quantity}}</td>
        <td data-label="Sold">R{{unit_price}}</td>
        <td data-label="Total Sales">R{{total_cost}}</td>
        <td data-label=""><button class="btn btn-info btn-sm" type="submit"><a href="/purchases/edit/{{id}}" >Edit</a></button>
        <button class="btn btn-danger btn-sm" type="submit"><a href="/purchases/delete/{{id}}">Delete</a></button></td>
      </tr>
    </tbody>
    {{/purchases}}
  </table>
</div>
{{#no_purchases}}
<p>No purchases available yet. Add some above.</p>
{{/no_purchases}}


{{!-- <section class="container">

  <h2>Light Javascript Table Filter</h2>

  <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">

  <table class="order-table table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>john.doe@gmail.com</td>
        <td>0123456789</td>
        <td>99</td>
      </tr>
      <tr>
        <td>Jane Vanda</td>
        <td>jane@vanda.org</td>
        <td>9876543210</td>
        <td>349</td>
      </tr>
      <tr>
        <td>Alferd Penyworth</td>
        <td>alfred@batman.com</td>
        <td>6754328901</td>
        <td>199</td>
      </tr>
    </tbody>
  </table>

</section>

 --}}