<h1>Purchases</h1>
<button class="btn btn-info" type="submit"><a href="/purchases/add">Add Purchase</a></button>
<hr>

<div class='row'>
  {{#purchases}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <h4>{{description}}</h4>
      <p>{{dates}}</p>
      <p>Quantity: {{quantity}}</p>
      <p>Unit Price: R{{unit_price}}</p>
      <p>Total Cost: R{{total_cost}}</p>
      <div class="caption">
        <button class="btn btn-info btn-sm" type="submit"><a href="/purchases/edit/{{id}}" >Edit</a></button>
        <button class="btn btn-danger btn-sm" type="submit"><a href="/purchases/delete/{{id}}">Delete</a></button>
      </div>
    </div>
  </div>
  {{/purchases}}
</div>

{{#no_purchases}}
<p>No purchases available yet. Add some above.</p>
{{/no_purchases}}