<div class="container">
	<form action="/products/update/{{data.id}}" method="POST" class="form-signin">
		<h1>Edit product</h1>
		<div class="">
			<label for="">Category</label>
			<select class="" name="category_id">
				{{#categories}}
				<option {{selected}} value="{{id}}">{{description}}</option>
				{{/categories}}
			</select>
		</div>
		<div class="">
			<input type="text" name="description" value="{{data.description}}" id="description" placeholder="description" class="form-control" required="" autofocus="">
		</div>
		<div class="field">
			<input type="text" name="price" value="{{data.price}}" lass="form-control" placeholder="Amount" required="">
		</div>
		<button class="btn btn-primary " type="submit">Update</button>
	</form>
</div>