<div class="container">
	<form action="/purchases/add" method="POST" class="form-signin">
		<h1>Add purchase</h1>
		<div class="">
			<label for="">Product</label>
			<select class="" name="products_id">
				{{#products}}
				<option value="{{id}}">{{description}}</option>
				{{/products}}
			</select>
		</div>
		<div>
			<input type="text" name="shop" value="{{shop}}" id="shop" placeholder="shop" class="form-control" required="" autofocus="">

			<input type="text" name="dates" value="{{dates}}" id="dates" placeholder="dates" class="form-control" required="" autofocus="">

			<input type="number" name="quantity" value="{{quantity}}" id="quantity" placeholder="quantity" class="form-control" required="" autofocus="">

			<input type="number" name="unit_price" value="{{unit_price}}" id="unit_price" placeholder="unit_price" class="form-control" required="" autofocus="">

			<input type="number" name="total_cost" value="{{total_cost}}" id="total_cost" placeholder="total_cost" class="form-control" required="" autofocus="">
		</div>
		<button class="btn btn-primary " type="submit">Create</button>
	</form>
</div>