<button class="btn btn-primary" type="submit"><a href="/sales/add">Add Sales</a></button>
<hr>
<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">Sales</h1>
  </div>
  <div class="panel-body">
    <div class="table-responsive panel panel-warning">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>description</th>
            <th>date</th>
            <th>number Sold</th>
            <th>Total Sales</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#sales}}
            
            <td>
              <p>{{description}}</p>  
            </td>

            <td>
              <p>{{dates}}</p>
            </td>
            <td>
              <p>{{number_sold}}</p>
            </td>
            <td>
              <p>R{{total_sales}}</p>
            </td>
            <td><button class="btn btn-info btn-sm" type="submit"><a href="/sales/edit/{{id}}">Edit</a></button></td>
            <td> <button class="btn btn-danger btn-sm" type="submit"><a href="/sales/delete/{{id}}">Delete</a></button></td>
            
          </tr>
          {{/sales}}
          
        </tbody>
      </table>
    </div>
  </div>
</div>
{{#no_sales}}
<p>No sales available yet. Add some above.</p>
{{/no_sales}}