<h2 class="sub-header">Statistics</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<tr>
				{{#each mostPop}}
				<td>most popular product</td>
				<td>{{item}}</td>
				<td>{{amount}}</td>
				{{/each}}
			</tr>
			
			<tr>
				{{#each leastPop}}
				<td>least popular product</td>
				<td>{{item}}</td>
				<td>{{amount}}</td>
				{{/each}}
			</tr>
			<tr>
				{{#each mostPopCat}}
				<td>most popular category</td>
				<td>{{category}}</td>
				<td>{{amount}}</td>
				{{/each}}
			</tr>
			<tr>
				{{#each leastPopCat}}
				<td>least popular category</td>
				<td>{{category}}</td>
				<td>{{amount}}</td>
				{{/each}}
			</tr>
			
			<tr>
				{{#each mostProfProd}}
				<td>Most profitable Product</td>
				<td>{{item}}</td>
				<td>R{{profitCash}}</td>
				{{/each}}
			</tr>
			<tr>
				{{#each mostProfCat}}
				<td>Most profitable Category</td>
				<td>{{category}}</td>
				<td>R{{profitCash}}</td>
				{{/each}}
			</tr>
			<tr>
			</tbody>
		</table>
	</div>
</div>