<div class="container">
		<form action="/sales/update/{{data.id}}" method="POST" class="form-signin">
		<h1>Add Sales</h1>
		<div class="">
			<select class="form-control" name="products_id">
				{{#products}}
				<option {{selected}} value="{{id}}">{{description}}</option>
				{{/products}}
			</select>
		</div>
		<div>
			<input type="date" name="dates"  {{selected}} value="{{data.dates}}" id="dates" placeholder="dates" class="form-control" required="" autofocus="">

			<input type="number" name="number_sold" value="{{data.number_sold}}" id="number_sold" placeholder="number_sold" class="form-control" required="" autofocus="">

			<input type="number" name="total_sales" value="{{data.total_sales}}" id="total_sales" placeholder="total_sales" class="form-control" required="" autofocus="">
		</div>
		<button class="btn btn-info " type="submit">Update</button>
	</form>
</div>