<h1>Sales</h1>

<button class="btn btn-info" type="submit"><a href="/sales/add">Add Sales</a></button>
<hr>

<div class='row'>
  {{#sales}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <h4>{{description}}</h4>
      <p>{{dates}}</p>
      <p>Quantity: {{quantity}}</p>
      <p>Unit Price: R{{number_sold}}</p>
      <p>Total Cost: R{{total_sales}}</p>
      <div class="caption">
        <button class="btn btn-info btn-sm" type="submit"><a href="/sales/edit/{{id}}" >Edit</a></button>
        <button class="btn btn-danger btn-sm" type="submit"><a href="/sales/delete/{{id}}">Delete</a></button>
      </div>
    </div>
  </div>
  {{/sales}}
</div>

{{#no_sales}}
<p>No sales available yet. Add some above.</p>
{{/no_sales}}